body{
  background: rgb(240, 240, 245);
}
h1 {
  text-align: center;
}
.Caixa1 {
  position: absolute;
  background: #336666;
  color: red;
  width: 200px;
  height: 200px;
  left: 86%;
  right: 0;
  top: 0;
}
.Caixa2 {
  position: absolute;
  background: #000000;
  color: blue;
  width: 200px;
  height: 200px;
  left: 71%;
  right: 0;
  top: 0;
}
.caixa3 {
  position: absolute;
  background: #000052;
  color: purple;
  width: 200px;
  height: 200px;
  left: 47%;
  right: 0;
  top: 0;
}
.menuPrincipal {
  position: absolute;
  background: #f3ecec;
  color: rgb(13, 0, 128);
  width: 200px;
  height: 200px;
  top: 0;
  left: 0;
  

}
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: 0;
}
li {
  float: left;
}
li a {
  display: block;
  color: yellow;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Courier New', Courier, monospace;
}
li a:hover {
  background: rgb(104, 50, 190);
  color: aqua;
}
#fenix {
  width: 50%;
}
.caixaFenix {
  position: absolute;
  top: 50px;
  left: 0;
  width: 40%;
  height: 150px;
  background: coral;
  margin: 20px;
  border-color: rgb(218, 75, 23);
  border-width: 150px;
  border-style: solid;
  padding: 20px;
  display: flex;
  justify-content: center;
}
